@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.current-time {
	@include grid(2, 1, 1rem);
	grid-template-columns: 200px auto;

	@media (max-width: 800px) {
		grid-template-columns: auto 200px;
	}

	&__button-reset {
		grid-column: 1;
		border-radius: $border-radius;
		border: none;
		color: white;
		padding: 0.5rem;
		cursor: pointer;
		background-color: DarkGray;
		transition: 0.2s;
		font: {
			family: $font-family, system-ui;
			size: 1rem;
		}

		@media (max-width: 800px) {
			grid-column: 2;
			grid-row: 1;
		}

		&:disabled {
			color: grey;
			cursor: default;
		}

		&:not(:disabled) {
			&:hover {
				box-shadow: 0 0 5px 2px grey;
				filter: brightness(1.1);
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 5px 2px grey;
			}

			&:active {
				box-shadow: inset 0 0 5px 1px grey;
				font: {
					size: calc(1rem - 10%);
				}
			}
		}

		&:focus-visible {
			outline: none;
		}
	}

	&__box {
		@include flex(column, space-evenly);
		background-color: white;
		border-radius: $border-radius;

		@media (max-width: 800px) {
			grid-column: 1;
			grid-row: 1;
			padding-block: 1rem;
			gap: 0.5rem;
		}

		&_date,
		&_time {
			justify-self: center;
			align-self: center;
			color: grey;
			font: {
				family: $font-family;
				size: 1rem;
			}
		}
	}
}
