@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.header {
	inline-size: 100%;
	padding: 1rem;
	background-color: grey;
	@include flex;

	&__title {
		font: {
			family: $font-family;
			size: 1.5rem;
		}
		color: white;
		letter-spacing: 0.2rem;
	}
}
