@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.progress {
	inline-size: 100%;
	block-size: 2rem;
	@include grid-template('1/3', '2');
	justify-self: center;
	appearance: none;

	&::-webkit-progress-bar {
		border-radius: $border-radius;
		background-color: white;
		overflow: hidden;
	}

	&::-webkit-progress-value {
		background-color: YellowGreen;
		transition: 0.3s;
	}
}
