@use './styles/abstracts/fonts' as *;
@use './styles/base/reset' as *;
@use './styles/abstracts/mixins' as *;
@use './styles/abstracts/variables' as *;
@use './styles/components/header' as *;
@use './styles/components/section__current-time' as *;
@use './styles/components/form' as *;
@use './styles/components/current-time' as *;
@use './styles/components/clear-form.scss' as *;
@use './styles/components/progress' as *;
@use './styles/layout/main' as *;

body {
	inline-size: 100%;
	min-inline-size: 400px;
	block-size: 100dvh;
	@include flex(column);
	background: linear-gradient(grey, lightgrey);
	background-attachment: fixed;
}
