@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}

@mixin grid($columns: 2, $rows: 2, $gap: 1rem) {
	display: grid;
	grid-template-columns: repeat($columns, 1fr);
	grid-template-rows: repeat($rows, 1fr);
	grid-gap: $gap;
}

$border-radius: 10px;
$font-family: 'Joti One', serif;

body {
	inline-size: 100%;
	min-inline-size: 800px;
	block-size: 100dvh;
	@include flex(column);
}

.header {
	inline-size: 100%;
	padding: 1rem;
	background-color: grey;
	@include flex;

	&__title {
		font: {
			family: $font-family;
			size: 1.5rem;
		}
		color: white;
		letter-spacing: 0.2rem;
	}
}

.main {
	inline-size: 100%;
	flex-grow: 1;
	background: linear-gradient(grey, lightgrey);
	padding: 1rem;
	@include flex(column, start);

	.section__current-time {
		inline-size: clamp(600px, 100%, 1000px);
		background-color: lightgrey;
		border-radius: $border-radius * 1.5;
		@include grid(2, auto, 1rem);
		padding: 2rem;
		transition: 0.2s;

		&:hover {
			box-shadow: 0 0 10px 5px grey;
		}

		.form {
			@include grid(4, 3);
			grid-template-columns: auto auto repeat(2, calc(100px - 0.5rem));

			&__first-date,
			&__last-date,
			&__first-hour,
			&__last-hour,
			&__button-start {
				text-align: center;
				border-radius: $border-radius;
				border: none;
				padding: 0.5rem;
				color: grey;
				cursor: pointer;
				font: {
					family: $font-family;
					size: 1rem;
				}
				transition: 0.2s;

				&:disabled {
					color: grey;
					cursor: default;
				}

				&:hover:not(:disabled) {
					box-shadow: 0 0 5px 2px grey;
				}
			}

			&__first-date {
				grid-column: 1/3;
				grid-row: 1;
				color: Crimson;
			}

			&__last-date {
				grid-column: 1/3;
				grid-row: 2;
				color: OliveDrab;
			}

			&__first-hour {
				grid-column: 1;
				grid-row: 3;
				color: Crimson;
			}

			&__last-hour {
				grid-column: 2;
				grid-row: 3;
				color: OliveDrab;
			}

			&__button-start {
				grid-column: 3/5;
				grid-row: 1/-1;
				color: white;
				background-color: DarkGray;
				transition: 0.2s;
				font: {
					family: $font-family;
					size: 1rem;
				}

				&:not(:disabled) {
					&:hover {
						filter: brightness(1.1);
					}

					&:active {
						box-shadow: inset 0 0 5px 1px grey;
						font: {
							size: calc(1rem - 10%);
						}
					}
				}
			}
		}

		.current-time {
			@include grid(2, 1, 1rem);
			grid-template-columns: 200px auto;

			&__button-reset {
				grid-column: 1;
				border-radius: $border-radius;
				border: none;
				color: white;
				padding: 0.5rem;
				cursor: pointer;
				background-color: DarkGray;
				transition: 0.2s;
				font: {
					family: $font-family, system-ui;
					size: 1rem;
				}

				&:disabled {
					color: grey;
					cursor: default;
				}

				&:not(:disabled) {
					&:hover {
						box-shadow: 0 0 5px 2px grey;
						filter: brightness(1.1);
					}

					&:active {
						box-shadow: inset 0 0 5px 1px grey;
						font: {
							size: calc(1rem - 10%);
						}
					}
				}
			}

			&__box {
				@include flex(column, space-evenly);
				background-color: white;
				border-radius: $border-radius;

				&_date,
				&_time {
					justify-self: center;
					align-self: center;
					color: grey;
					font: {
						family: $font-family;
						size: 1rem;
					}
				}
			}
		}

		.progress {
			inline-size: 100%;
			block-size: 2rem;
			grid-column: 1/3;
			grid-row: 2;
			justify-self: center;
			appearance: none;

			&::-webkit-progress-bar {
				border-radius: $border-radius;
				background-color: white;
				overflow: hidden;
			}

			&::-webkit-progress-value {
				background-color: YellowGreen;
			}
		}
	}
}
